--
-- PostgreSQL database dump
--

\restrict dShetfWWAIhSG2UhwFOlczGCKg3oBIfW6fH0K9Bzo3OOLInmHne7GXwUd5nT9XZ

-- Dumped from database version 14.22
-- Dumped by pg_dump version 14.22

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: student; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA student;


ALTER SCHEMA student OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: address; Type: TABLE; Schema: student; Owner: postgres
--

CREATE TABLE student.address (
    id bigint NOT NULL,
    description character varying(255)
);


ALTER TABLE student.address OWNER TO postgres;

--
-- Name: address_id_seq; Type: SEQUENCE; Schema: student; Owner: postgres
--

ALTER TABLE student.address ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME student.address_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: course; Type: TABLE; Schema: student; Owner: postgres
--

CREATE TABLE student.course (
    id bigint NOT NULL,
    name character varying(255)
);


ALTER TABLE student.course OWNER TO postgres;

--
-- Name: customer; Type: TABLE; Schema: student; Owner: postgres
--

CREATE TABLE student.customer (
    id bigint NOT NULL,
    name character varying(255),
    address_id bigint
);


ALTER TABLE student.customer OWNER TO postgres;

--
-- Name: customer_id_seq; Type: SEQUENCE; Schema: student; Owner: postgres
--

ALTER TABLE student.customer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME student.customer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: department; Type: TABLE; Schema: student; Owner: postgres
--

CREATE TABLE student.department (
    id bigint NOT NULL,
    department_name character varying(255)
);


ALTER TABLE student.department OWNER TO postgres;

--
-- Name: department_id_seq; Type: SEQUENCE; Schema: student; Owner: postgres
--

ALTER TABLE student.department ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME student.department_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employee; Type: TABLE; Schema: student; Owner: postgres
--

CREATE TABLE student.employee (
    id bigint NOT NULL,
    name character varying(255),
    department_id bigint
);


ALTER TABLE student.employee OWNER TO postgres;

--
-- Name: employee_id_seq; Type: SEQUENCE; Schema: student; Owner: postgres
--

ALTER TABLE student.employee ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME student.employee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: home; Type: TABLE; Schema: student; Owner: postgres
--

CREATE TABLE student.home (
    id bigint NOT NULL,
    price numeric(38,2)
);


ALTER TABLE student.home OWNER TO postgres;

--
-- Name: home_id_seq; Type: SEQUENCE; Schema: student; Owner: postgres
--

ALTER TABLE student.home ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME student.home_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: home_room; Type: TABLE; Schema: student; Owner: postgres
--

CREATE TABLE student.home_room (
    home_id bigint NOT NULL,
    room_id bigint NOT NULL
);


ALTER TABLE student.home_room OWNER TO postgres;

--
-- Name: room; Type: TABLE; Schema: student; Owner: postgres
--

CREATE TABLE student.room (
    id bigint NOT NULL,
    name character varying(255)
);


ALTER TABLE student.room OWNER TO postgres;

--
-- Name: room_id_seq; Type: SEQUENCE; Schema: student; Owner: postgres
--

ALTER TABLE student.room ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME student.room_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: student; Type: TABLE; Schema: student; Owner: postgres
--

CREATE TABLE student.student (
    id integer NOT NULL,
    birth_of_date date,
    first_name character varying(255) NOT NULL,
    last_name character varying(255) NOT NULL
);


ALTER TABLE student.student OWNER TO postgres;

--
-- Name: student_course; Type: TABLE; Schema: student; Owner: postgres
--

CREATE TABLE student.student_course (
    student_id integer NOT NULL,
    course_id bigint NOT NULL
);


ALTER TABLE student.student_course OWNER TO postgres;

--
-- Name: student_id_seq; Type: SEQUENCE; Schema: student; Owner: postgres
--

ALTER TABLE student.student ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME student.student_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: address address_pkey; Type: CONSTRAINT; Schema: student; Owner: postgres
--

ALTER TABLE ONLY student.address
    ADD CONSTRAINT address_pkey PRIMARY KEY (id);


--
-- Name: course course_pkey; Type: CONSTRAINT; Schema: student; Owner: postgres
--

ALTER TABLE ONLY student.course
    ADD CONSTRAINT course_pkey PRIMARY KEY (id);


--
-- Name: customer customer_pkey; Type: CONSTRAINT; Schema: student; Owner: postgres
--

ALTER TABLE ONLY student.customer
    ADD CONSTRAINT customer_pkey PRIMARY KEY (id);


--
-- Name: department department_pkey; Type: CONSTRAINT; Schema: student; Owner: postgres
--

ALTER TABLE ONLY student.department
    ADD CONSTRAINT department_pkey PRIMARY KEY (id);


--
-- Name: employee employee_pkey; Type: CONSTRAINT; Schema: student; Owner: postgres
--

ALTER TABLE ONLY student.employee
    ADD CONSTRAINT employee_pkey PRIMARY KEY (id);


--
-- Name: home home_pkey; Type: CONSTRAINT; Schema: student; Owner: postgres
--

ALTER TABLE ONLY student.home
    ADD CONSTRAINT home_pkey PRIMARY KEY (id);


--
-- Name: room room_pkey; Type: CONSTRAINT; Schema: student; Owner: postgres
--

ALTER TABLE ONLY student.room
    ADD CONSTRAINT room_pkey PRIMARY KEY (id);


--
-- Name: student student_pkey; Type: CONSTRAINT; Schema: student; Owner: postgres
--

ALTER TABLE ONLY student.student
    ADD CONSTRAINT student_pkey PRIMARY KEY (id);


--
-- Name: home_room ukibtfg7jthl16mob0u6tklnt8p; Type: CONSTRAINT; Schema: student; Owner: postgres
--

ALTER TABLE ONLY student.home_room
    ADD CONSTRAINT ukibtfg7jthl16mob0u6tklnt8p UNIQUE (room_id);


--
-- Name: customer ukr8whbd0mf9er6vwfr0sclsxkd; Type: CONSTRAINT; Schema: student; Owner: postgres
--

ALTER TABLE ONLY student.customer
    ADD CONSTRAINT ukr8whbd0mf9er6vwfr0sclsxkd UNIQUE (address_id);


--
-- Name: employee fkbejtwvg9bxus2mffsm3swj3u9; Type: FK CONSTRAINT; Schema: student; Owner: postgres
--

ALTER TABLE ONLY student.employee
    ADD CONSTRAINT fkbejtwvg9bxus2mffsm3swj3u9 FOREIGN KEY (department_id) REFERENCES student.department(id);


--
-- Name: home_room fkc42setb3gqgluc56w68ds32as; Type: FK CONSTRAINT; Schema: student; Owner: postgres
--

ALTER TABLE ONLY student.home_room
    ADD CONSTRAINT fkc42setb3gqgluc56w68ds32as FOREIGN KEY (home_id) REFERENCES student.home(id);


--
-- Name: student_course fkejrkh4gv8iqgmspsanaji90ws; Type: FK CONSTRAINT; Schema: student; Owner: postgres
--

ALTER TABLE ONLY student.student_course
    ADD CONSTRAINT fkejrkh4gv8iqgmspsanaji90ws FOREIGN KEY (course_id) REFERENCES student.course(id);


--
-- Name: customer fkglkhkmh2vyn790ijs6hiqqpi; Type: FK CONSTRAINT; Schema: student; Owner: postgres
--

ALTER TABLE ONLY student.customer
    ADD CONSTRAINT fkglkhkmh2vyn790ijs6hiqqpi FOREIGN KEY (address_id) REFERENCES student.address(id);


--
-- Name: student_course fkq7yw2wg9wlt2cnj480hcdn6dq; Type: FK CONSTRAINT; Schema: student; Owner: postgres
--

ALTER TABLE ONLY student.student_course
    ADD CONSTRAINT fkq7yw2wg9wlt2cnj480hcdn6dq FOREIGN KEY (student_id) REFERENCES student.student(id);


--
-- Name: home_room fks9975spwhxi9l5sp63x21vrj6; Type: FK CONSTRAINT; Schema: student; Owner: postgres
--

ALTER TABLE ONLY student.home_room
    ADD CONSTRAINT fks9975spwhxi9l5sp63x21vrj6 FOREIGN KEY (room_id) REFERENCES student.room(id);


--
-- PostgreSQL database dump complete
--

\unrestrict dShetfWWAIhSG2UhwFOlczGCKg3oBIfW6fH0K9Bzo3OOLInmHne7GXwUd5nT9XZ

